In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy.stats import shapiro
import scipy.stats as stats
A = pd.DataFrame([30,27,21,27,29,30,20,20,27,32,35,22,24,23,25,27,23,27,23,
                 25,21,18,24,26,33,26,27,28,19,25])

B = pd.DataFrame([37,39,31,31,34,38,30,36,29,28,38,28,37,37,30,32,31,31,27,
                 32,33,33,33,31,32,33,26,32,33,29])

A_B = pd.concat([A,B], axis = 1)
A_B.columns = ['A','B']

A_B.head()

    A   B
0  30  37
1  27  39
2  21  31
3  27  31
4  29  34

In [2]:
stats.mannwhitneyu(A_B['A'], A_B['B'])

MannwhitneyuResult(statistic=89.5, pvalue=9.557950378612535e-08)