In [1]:
import pandas as pd

A = pd.DataFrame([28,33,30,29,28,29,27,31,30,32,28,33,25,29,27,31,31,30,31,34,30,32,31,31])
B = pd.DataFrame([31,32,30,30,33,32,34,27,36,30,31,30,38,29,30,34,34,31,35,35,33,30,28,31])
C = pd.DataFrame([40,33,38,41,42,43,38,35,39,39,36,34,35,40,38,36,39,36,33,35,38,35,40,31])

dfs = [A,B,C]

ABC = pd.concat(dfs, axis=1)
ABC.columns = ['GRUP_A','GRUP_B','GRUP_C']
ABC.head()

   GRUP_A  GRUP_B  GRUP_C
0      28      31      40
1      33      32      33
2      30      30      38
3      29      30      41
4      28      33      42