In [1]:
import pandas as pd
from scipy.stats import shapiro
import scipy.stats as stats
from scipy.stats import f_oneway

A = pd.DataFrame([28,33,30,29,28,29,27,31,30,32,28,33,25,29,27,31,31,30,31,34,30,32,31,31])
B = pd.DataFrame([31,32,30,30,33,32,34,27,36,30,31,30,38,29,30,34,34,31,35,35,33,30,28,31])
C = pd.DataFrame([40,33,38,41,42,43,38,35,39,39,36,34,35,40,38,36,39,36,33,35,38,35,40,31])

dfs = [A,B,C]

ABC = pd.concat(dfs, axis=1)
ABC.columns = ['GRUP_A','GRUP_B','GRUP_C']
ABC.head()

   GRUP_A  GRUP_B  GRUP_C
0      28      31      40
1      33      32      33
2      30      30      38
3      29      30      41
4      28      33      42

In [2]:
f_oneway(ABC['GRUP_A'], ABC['GRUP_B'], ABC['GRUP_C'])

F_onewayResult(statistic=48.840193704600495, pvalue=6.099276741631155e-14)

In [3]:
ABC.describe().T

        count       mean       std   min    25%   50%    75%   max
GRUP_A   24.0  30.000000  2.146787  25.0  28.75  30.0  31.00  34.0
GRUP_B   24.0  31.833333  2.648489  27.0  30.00  31.0  34.00  38.0
GRUP_C   24.0  37.250000  3.053864  31.0  35.00  38.0  39.25  43.0