In [2]:
import seaborn as sns
import numpy as np

In [3]:
tips = sns.load_dataset('tips')
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [5]:
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (0.3.6)
Requirement already satisfied: scipy in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (from researchpy) (1.10.1)
Requirement already satisfied: numpy in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (from researchpy) (1.24.3)
Requirement already satisfied: pandas in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (from researchpy) (1.5.3)
Requirement already satisfied: statsmodels in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (from researchpy) (0.14.0)
Requirement already satisfied: patsy in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (from researchpy) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (from pandas->researchpy) (2022.7)
Requirement already satisfied: six in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in /Users/ardahanaytan/anaconda3/lib/python3.11/site-packages (from statsmodels->researchpy) (23.0)

In [6]:
rp.summary_cont(df[['total_bill','tip','size']])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [8]:
rp.summary_cat(df[['sex','smoker','day']])  #KeyError neden oldugunu bilmiyorum

KeyError: "['Outcome'] not in index"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [15]:
?rp.summary_cat

Signature: rp.summary_cat(group1, ascending=False)
Docstring: <no docstring>
File:      ~/anaconda3/lib/python3.11/site-packages/researchpy/summary.py
Type:      function

In [9]:
df[['tip','total_bill']].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [10]:
df[['tip','total_bill']].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000