In [1]:
import seaborn as sns
df = sns.load_dataset('diamonds')
df = df.select_dtypes(include = ['float64', 'int64'])
df = df.dropna()

df_table = df['table']

Q1 = df_table.quantile(0.25)
Q3 = df_table.quantile(0.75)
IQR = Q3-Q1
alt_sinir = Q1 - 1.5*IQR
ust_sinir = Q3 + 1.5*IQR

aykiri_tf = (df_table < alt_sinir)

In [19]:
## SILME

In [2]:
df_table[aykiri_tf]

1515     51.0
3238     50.1
3979     51.0
4150     51.0
5979     49.0
7418     50.0
8853     51.0
11368    43.0
22701    49.0
25179    50.0
26387    51.0
33586    51.0
35633    44.0
45798    51.0
46040    51.0
47630    51.0
Name: table, dtype: float64

In [3]:
import pandas as pd
type(df_table)

pandas.core.series.Series

In [4]:
df_table = pd.DataFrame(df_table)

In [5]:
df_table.shape

(53940, 1)

In [7]:
t_df = df_table[~((df_table < alt_sinir) | (df_table > ust_sinir)).any(axis=1)]

In [8]:
t_df.shape

(53335, 1)

In [18]:
## ORTALAMA ILE DOLDURMA

In [9]:
aykiri_tf.head()

0    False
1    False
2    False
3    False
4    False
Name: table, dtype: bool

In [11]:
df_table.mean()

table    57.457184
dtype: float64

In [16]:
df_table[aykiri_tf] = df_table.mean()

In [17]:
df_table[aykiri_tf]

           table
1515   57.457184
3238   57.457184
3979   57.457184
4150   57.457184
5979   57.457184
7418   57.457184
8853   57.457184
11368  57.457184
22701  57.457184
25179  57.457184
26387  57.457184
33586  57.457184
35633  57.457184
45798  57.457184
46040  57.457184
47630  57.457184

In [20]:
## BASKILAMA

In [22]:
import seaborn as sns
df = sns.load_dataset('diamonds')
df = df.select_dtypes(include = ['float64', 'int64'])
df = df.dropna()

df_table = df['table']

Q1 = df_table.quantile(0.25)
Q3 = df_table.quantile(0.75)
IQR = Q3-Q1
alt_sinir = Q1 - 1.5*IQR
ust_sinir = Q3 + 1.5*IQR

aykiri_tf = (df_table < alt_sinir)

In [23]:
df_table[aykiri_tf]

1515     51.0
3238     50.1
3979     51.0
4150     51.0
5979     49.0
7418     50.0
8853     51.0
11368    43.0
22701    49.0
25179    50.0
26387    51.0
33586    51.0
35633    44.0
45798    51.0
46040    51.0
47630    51.0
Name: table, dtype: float64

In [24]:
alt_sinir

51.5

In [25]:
df_table[aykiri_tf] = alt_sinir

/var/folders/rr/9nw3sh9x22b97xwkpxh_6jph0000gn/T/ipykernel_3132/3246625175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_table[aykiri_tf] = alt_sinir

In [26]:
df_table[aykiri_tf]

1515     51.5
3238     51.5
3979     51.5
4150     51.5
5979     51.5
7418     51.5
8853     51.5
11368    51.5
22701    51.5
25179    51.5
26387    51.5
33586    51.5
35633    51.5
45798    51.5
46040    51.5
47630    51.5
Name: table, dtype: float64